---
layout: default
title: Yazeid
---


<div class="row">
  <div class="col-md-3">
    <div id="davoid" class="hover-image-container">
      <img class="img1" src="/assets/img/my_bg.png" alt="Image 1">
      <img class="img2" src="/assets/img/void_fg_christmas.png" alt="Image 2">
    </div>
  </div>
  <div class="col-md-9">
    <h2>Welcome to Yazeid's Website</h2>
    <p>Hello! I'm Yazeid, a computer science student passionate about Linux, open-source software, and AI development.</p>
    <p>This website is my personal space to share my projects, blog posts, and useful tools.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h3>About Me</h3>
    <p>I enjoy working with Linux systems, building efficient tools, developing programs and websites. More details will be provided later.</p>
  </div>
  <div class="col-md-4">
    <h3>My Projects</h3>
    <p>I have worked on numerous projects, including automation scripts, programs, and full-stack web tools. These projects will be shared soon, highlighting my curiosity and passion for creation.</p>
  </div>
  <div class="col-md-4">
    <h3>Get in Touch</h3>
    <p>Feel free to reach me at: <a href="mailto:Yazeid@ieee.org">Yazeid@ieee.org</a></p>
  </div>
</div>

<hr>

<div class="page-header">
  <h2>Recent Posts <a href="/atom.xml" title="Subscribe to the blog feed"><i class="fa fa-rss fa-lg"></i></a></h2>
</div>
<div class="row">
  {% for post in site.posts limit:2 %}
  <div class="col-md-10" {% if post.lang == "ar" %}dir="rtl" style="text-align: right; font-size: 18px;"{% endif %}>
    <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.content }}
  </div>
  {% endfor %}
</div>




 


