---
layout: default
title: Yazeid
---


<div class="row">
  <div class="col-md-3">
    <div id="davoid" class="hover-image-container">
      <img class="img1" src="/assets/img/my_bg.png" alt="Image 1">
      <img class="img2" src="/assets/img/void_fg_christmas.png" alt="Image 2">
    </div>
  </div>
  <div class="col-md-9">
    <h2>Welcome to Yazeid's Website</h2>
    <p>Hello! I'm Yazeid, a computer science student passionate about Linux, open-source software, and AI development.</p>
    <p>This website is my personal space to share my projects, blog posts, and useful tools.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h3>About Me</h3>
    <p>I enjoy working with Linux systems, building efficient tools, and exploring machine learning and data science.</p>
  </div>
  <div class="col-md-4">
    <h3>My Projects</h3>
    <p>From automation scripts to full-stack web tools, my projects reflect my curiosity and drive to create.</p>
  </div>
  <div class="col-md-4">
    <h3>Get in Touch</h3>
    <p>Feel free to reach me at: <a href="mailto:yazeidhdeab@gmail.com">yazeidhdeab@gmail.com</a></p>
  </div>
</div>

<hr>

<div class="page-header">
  <h2>Recent Posts <a href="/atom.xml" title="Subscribe to the blog feed"><i class="fa fa-rss fa-lg"></i></a></h2>
</div>
<div class="row">
  {% for post in site.posts limit:2 %}
  <div class="col-md-10" {% if post.lang == "ar" %}dir="rtl" style="text-align: right; font-size: 18px;"{% endif %}>
    <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.content }}
  </div>
  {% endfor %}
</div>


  .theme-toggle-container {
    margin: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }

  button:hover {
    background-color: #2980b9;
  }
</style>


