@font-face {
	font-family: 'FontAwesome';
	src: url('/assets/fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
	     url('/assets/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
	     url('/assets/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
	     url('/assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #478061;
}
a:hover {
	text-decoration: none;
	color: black;
}

.fa {
	font-family: FontAwesome;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-lg {
	font-size: 1.3333333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.fa-rss:before      { content: "\f09e"; }
.fa-home:before     { content: "\f015"; }
.fa-previous:before { content: "\f190"; }
.fa-next:before     { content: "\f18e"; }

img {
	max-width: 95%;
	margin: 30px auto;
}
img, .video {
	display: inline;
}

.navbar {
	background-color: #478061;
	border: 0;
	z-index: 1;
}
.nav li:hover {
	background-color: black;
}

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
	padding-top: 50px;
	margin-top: -40px;
}

.btn-green {
	color: #fff;
	background-color: #478061;
	border-color: #478061;
}
.btn-green:hover {
	color: #fff;
	background-color: black;
	border-color: black;
}

.tab-bar {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.tab-bar li {
	padding: 1em 2em;
	cursor: pointer;
	border-bottom: 2px solid white;
	transition: border-color 0.4s;
}
.tab-bar li:hover {
	border-bottom: 2px solid #ddd;
}
.tab-bar li.active {
	font-weight: bold;
	border-bottom: 2px solid #478061;
}
@media (max-width: 500px) {
	.tab-bar li {
		padding: 1em;
	}
}
.tab-bar li a {
	color: inherit;
}
.tab-bar li a:focus {
	text-decoration: none;
}

.split-section {
	display: flex;
	flex-wrap: wrap;
}
.split-section h3 {
	margin-top: 20px;
	padding-top: 0;
}
.split-section > div {
	flex: 1;
}
.split-section > div:first-of-type {
	padding-right: 4rem;
}
@media (max-width: 600px) {
	.split-section {
		flex-direction: column;
	}
	.split-section > div:first-of-type {
		padding-right: 0;
	}
}

.CV-device-title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.CV-device-title h4 {
	margin-top: 2rem;
}

.inline-CV-links {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
}
.inline-CV-links:last-of-type {
	border-bottom: none;
}
.inline-CV-links li {
	margin-right: 1.5em;
	margin-bottom: 2rem;
}
.inline-CV-links .label-warning {
	background-color: #fdf6e3;
	color: #535353;
}
.inline-CV-links .label-default {
	background-color: #ddd;
	color: #535353;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ccc;
		background-color: #222;
	}
	h1, h2, h3, h4, h5, h6 { color: #ccc; }
	a {
		color: #62b086;
	}
	a:hover {
		color: #ccc;
	}
	hr {
		border-top: 1px solid #888;
	}
	.inline-CV-links, .tab-bar {
		border-bottom: 1px solid #888;
	}
	.tab-bar li {
		border-bottom: 2px solid #aaa;
	}
	.tab-bar li:hover {
		border-bottom: 2px solid #62b086;
	}
	code {
		background-color: inherit;
		color: white;
	}
	.alert-warning {
		font-weight: bold;
		color: #ccc;
		background-color: inherit;
		border: 2px solid #295340;
	}
	pre {
		background-color: #404040;
		color: #d0d0d0;
	}
	.form-control {
		background-color: inherit;
		color: white;
	}
	select {
		/* from https://github.com/kognise/water.css */
		background: #222 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='63' width='117' fill='%23efefef'%3E%3Cpath d='M115 2c-1-2-4-2-5 0L59 53 7 2a4 4 0 00-5 5l54 54 2 2 3-2 54-54c2-1 2-4 0-5z'/%3E%3C/svg%3E") calc(100% - 1em) 50%/1em no-repeat !important;
		appearance: none;
		-webkit-appearance: none;
		padding-right: 3em !important;
	}
	select::-ms-expand {
		display: none;
	}
	.nav li:hover {
		background-color: #222;
	}
	.inline-CV-links .label-default, .inline-CV-links .label-warning {
		background-color: inherit;
	}
	.inline-CV-links .label-default {
		border: 1px solid;
		color: #009fff;
	}
	.inline-CV-links .label-warning {
		border: 1px solid;
		color: #ffd804;
	}
	.navbar {
		background-color: #295340;
	}
}
