body {
	font-family: 'Ubuntu', sans-serif;
	/*
	background-color: #111;
	color: #ddd; */
}

code {
	font-family: 'Ubuntu Mono', monospace;
	background-color: #fdf6e3;
	color: #000;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 1.2em;
	color: #fff;
}

.navbar-sticky {
	position: sticky;
	top: 0;
	border-radius: 0;
}


.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

h1,h2,h3,h4 {
	color: black;
}

.well {
	background-color: #ffffff;
}

.well > ul > li > a {
	color: #ff6600;
	font-size: 1.1em;
}

.btn-orange {
	background-color: #ff6600;
	color: #fff;
}

pre code {
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}



.hover-image-container {
  position: relative;
  width: fit-content;
  margin: 40px auto;
  transform: translateY(-50px); /* رفع الصورة للأعلى */
}

.hover-image-container img {
  width: 200px;                /* الحجم الحقيقي للصور */
  height: 200px;
  border-radius: 50%;          /* شكل دائري */
  object-fit: contain;         /* عرض الصورة بدون تمدد */
  box-shadow: 10 0 20px rgba(0, 0, 0, 0.2); /* ظل ناعم دائري */
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-image-container .img1 {
  opacity: 1;
  z-index: 1;
}

.hover-image-container .img2 {
  opacity: 0;
  z-index: 2;
}

.hover-image-container:hover .img1 {
  opacity: 0;
  transform: scale(1.05);  /* Zoom خفيف عند التحويل */
}

.hover-image-container:hover .img2 {
  opacity: 1;
  transform: scale(1.05);
}


/* دعم اللغة العربية */
[dir="rtl"], .rtl {
  direction: rtl;
  text-align: right;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5 {
  text-align: right;
}

.rtl p {
  font-size: 18px;
  line-height: 1.8;
}


